* {
  margin: 0px;
  padding: 0px;
}
/* common font shared styles */
body {
  font-family: "Inter", sans-serif;
  font-family: "Merriweather", serif;
}
.banner {
  width: 1040px;
  height: 473px;
  /* height: auto;
  width: auto; */
  background-image: url("../images/Banner-Image.png");
  /* display: block; */
  margin: 50px auto 60px auto;
  /* margin: 50px 140px 60px 140px; */
  background-size: 100% 100%;
}
.banner-h3 {
  padding-top: 139px;
  color: #fff;
  text-align: center;
  font-family: Merriweather;
  font-size: 25px;
  font-weight: 400;
}
.banner-h1 {
    /* display: block; */
  width: 498px;
  color: #fff;
  text-align: center;
  font-family: Merriweather;
  font-size: 56px;
  font-weight: 900;
  line-height: 74px; 
  /* padding: auto 271px 139px 271px; */
  margin: 0px auto ;
}

